
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body{
    background-size: cover;
}

h1{
    width: 100%;
    font-size: 70px ;
}
body{
    background: #03a9f4;
}